    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>Stuhr Enterprises, LLC  |  505 West Main Street, Marshall, MN 56258 |  Office 507.929.7811  |  Fax. 507.929.7719 | <a href="privacy-policy.html">Privacy Policy</a> | <a href="sitemap.html">Sitemap</a></p>
            <p>Copyright &copy; 2018 STUHR Enterprises, LLC. All Rights Reserved.</p>
          </div>
        </div>
      </div><!--/.container-->
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="js/main.bundle.js"></script>
  </body>
</html>