{% extends "parts/_template.njk" %}

  {% block main %}
  <div class="jumbotron jumbotron-about-hero">
      <div class="container">
        <h1>About</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <h2>History of STUHR ENTERPRISES, LLC</h2>
            <p>Stuhr Enterprises, LLC was started in 1996 by Roger Stuhr with specialty feed additives including dairy cow transition products, ANION BOOSTER and GLUCOSE BOOSTER.</p> 

            <p>The company was based in San Diego, California with sales targeted mainly in the Western United States.</p>
            
            <p>In 2013, Jim Moline of Marshall, Minnesota bought Stuhr Enterprises and established two manufacturing locations with ANION BOOSTER being produced in West Bend, Iowa, USA and GLUCOSE BOOSTER produced in Butler, Missouri. USA.</p>
            
            <p>The West Bend, Iowa plant has a unique drying/processing technique allowing it to make a dry anion supplement, ANION BOOSTER in a dry, free flowing, granular product that has a high dry matter content compared to other anion products making it a BETTER VALUE to the dairy owner. The process also maintains and intensifies the unique, molasses, coffee aroma and taste preferred by dairy cows.</p>
            
            <p>The Butler, Missouri plant has a unique blending and mixing process allowing it to incorporate large amounts of liquid propylene glycol and glycerol to a unique carrier system along with 3 other glucose precursors which produces a finished product that is free flowing and has a subtle sweet taste and aroma that cows prefer to other additives.</p> 
            
            <p>In 2014, Stuhr added a new technical/sales manager (Mike Maloney) in California and in 2015 added a new technical/sales manager in Pennsylvania (John Azzone) thus having a marketing team across the United States.</p>
            
            <p>In 2015, Stuhr added a new technical/sales manager (Dr. Junaid Khan) in Dubai, UAE and established a sales office in Dubai with a warehouse in Dubai to follow. It is this office and warehouse that will service the Gulf Coast Counties with customer service and local inventory.</p>

            <p>In 2018, Stuhr added a new General Technical/Sales manager (Alan Tessner) in Minnesota.</p>
            
            <p>Currently, Stuhr sells its products in the U.S., Turkey, Korea, China, Mexico and the UAE. Current plans are to expand into the markets of all the GCC, Egypt, Sudan, Morocco, Italy, the E.U., Australia, New Zealand, Brazil, Argentina and Central America.</p> 
            
            <h2>Our Vision</h2>
            <p>Our vision is to consistently improve the nutrition and health of the Transition cow. We will enhance our current line of products and develop new products targeted to meet the needs of the Transition cow during this critical time.</p>
            <p>We will continue to advance the science of controlling Hypocalcemia and Ketosis with new innovations of our products and continue to offer the dairyman the most effective products for their cow's transition health.</p>
        </div><!--/.col-xs-12-->
      </div><!--/.row-->
    </div><!--/.container-->
  {% endblock %}
