{% extends "parts/_template.njk" %}

  {% block main %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-anion-hero">
      <div class="container">
        <h1>Anion Booster<sup>&trade;</sup></h1>
        <img src="images/logo-hero-anion.png" alt="Anion Booster" title="Anion Booster">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="standout">Proven to help control hypocalcemia by regulating metabolic PH while improving dry matter intake</p>
        </div><!--/.col-xs-12-->
        <div class="clearfix"></div>
        <div class="col-md-8">
          <div class="row">
              <div class="col-sm-6">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <h2 class="panel-title">Features of Anion Booster<sup>&trade;</sup></h2>
                    </div>
                    <div class="panel-body">
                      <ul>
                        <li>Best Palitability</li>
                        <li>Best Aroma</li>
                        <li>Best flowability</li>
                        <li>Best Efficacy</li>
                        <li><strong>BEST VALUE</strong></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <h2 class="panel-title">Benefits</h2>
                    </div>
                    <div class="panel-body">
                      <ul>                
                        <li>Helps <strong>decrease</strong> Milk Fever (Hypocalcemia)</li>
                        <li>Helps <strong>increase</strong> DRY MATTER INTAKE</li>
                        <li>Helps <strong>increase</strong> feed consumption</li>
                        <li>Helps <strong>decrease</strong> displaced abomasum</li>
                        <li>Helps <strong>increase</strong> milk production</li>
                        <li>Helps <strong>decrease</strong> Ketosis</li>
                        <li>Helps <strong>decrease</strong> retained placenta</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <h2 class="panel-title">Research Proves Anion Booster<sup>&trade;</sup> Tastes Better</h2>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-6">
                          <p>Anion Booster<sup>&trade;</sup> is a blend of chlorides and sulfates from glutamic acid fermentation solubles and corn fermentation solubles. Its unique drying process gives it a toasted, <strong>coffee-molasses like flavor</strong> and aroma.</p>
                          <p>The chlorides as a source of anions are enrobed in dried molasses solubles and corn fermentation solubles. Feed intake is critical in the close-up transition diet. Anion Booster<sup>&trade;</sup> has proven to help <strong>increase Dry Matter Intake</strong>.</p>
                          <p>Those fed regular anionic salts experienced a <strong>decrease</strong> in consumption.</p>
                          <p><small>Research provided by: University of Idaho Animal &amp; Veterinary Sciences Department Complete research available upon request.</small></p>
                        </div>  
                        <div class="col-sm-6">
                          <img src="images/anion-dry-matter-intake-chart.jpg" alt="Anion Dry Matter Intake Chart" title="Anion Dry Matter Intake Chart" class="img-responsive">
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-3 resources">
          <div class="list-group">
            <h2>Resources</h2>
            <a href="pdfs/anion_booster_info_sheet.pdf" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Anion Data Sheet (PDF)</a>
            <a href="pdfs/anion-booster-detailed-analysis.pdf" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Anion Booster Detailed Analysis (PDF)</a>
            <a href="pdfs/ab-nds-feedbank" class="list-group-item" download><span class="glyphicon glyphicon-file"></span> Anion Booster NDS Feedbank</a>  
            <a href="pdfs/ab-amts-feedbank.amts_feedbank" class="list-group-item" download><span class="glyphicon glyphicon-file"></span> Anion Booster AMTS Feedbank</a>
          </div>
        </div>
      </div><!--/.row-->
    </div><!--/.container-->
  {% endblock %}
