{% extends "parts/_template.njk" %}

  {% block main %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-anion-hero">
      <div class="container">
        <h1>Anion Booster<sup>&trade;</sup></h1>
        <img src="images/logo-hero-anion.png" alt="Anion Booster" title="Anion Booster">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p><strong>ANION BOOSTER<sup>&trade;</sup></strong> is a blend of chlorides and sulfates ions from glutamic acid fermentation product and corn fermentation solubles. It's unique drying process gives it a toasted, coffee-molasses like flavor and aroma. Research indicates that transition cow rations should have a dietary cation-anion difference (DCAD) of between 0-15 mEq/100 gm dry matter. Anion Boost helps reduce the DCAD to the desired level, while allowing transition diet calcium levels to be maintained at an optimum level.</p>
          <hr>
        </div><!--/.col-xs-12-->
      </div><!--/.row-->
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">Benefits Of Using Anion Booster</h2>
            </div>
            <div class="panel-body">
              <ul>
                <li>Best Palitability</li>
                <li>Best Value</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Indicated Use</h2>
            </div>
            <div class="panel-body">
              <p>Provides a dietary source of anions to modify dietary anion/cation balance in dairy cattle, beef cattle, sheep and goats. Also provides a protein source.</p>
            </div>
          </div>
        </div>
      </div><!--/.row-->
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">Ingredients</h2>
            </div>
            <div class="panel-body">
              <ul>
                <li>Dried condensed extracted glutamic acid fermentation product</li>
                <li>Dried corn fermentation solubles</li>
                <li>Roughage products</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Typical Analysis</h2>
            </div>
            <div class="panel-body">
              <ul>
                  <li>Crude Protein, 54.0%</li>
                  <li>Crude fat, 1.0%</li>
                  <li>Acid Detergent Fiber, 25.0%</li>
                  <li>Calcium, 0.30%</li>
                  <li>Phosphorus (P), 0.26%</li>
                  <li>Sodium (Na), 1.05%</li>
                  <li>Chloride (Cl), 7.6%</li>
                  <li>DCAD, - 416 meg/100g DM</li>
                </ul>
            </div>
          </div>
        </div>
      </div><!--/.row-->

      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">Feeding Direction</h2>
            </div>
            <div class="panel-body">
              <p>Recommended feeding rate for ANION BOOSTER<sup>&trade;</sup> is to be fed to close up dry dairy cows at the rate of 1-3 lbs. (0.45 kg – 1.4 kg) per head per day beginning at least 21 days before calving. Actual feeding levels will vary with the cation content of the diet. Consult your nutrition professional for more details.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Shelf Life</h2>
            </div>
            <div class="panel-body">
              <p>Store in cool, dry conditions. In those conditions, product is good for 2 years.</p>
              <p><strong>Package:</strong> 50lb. or 22.68 kg/bag</p>
            </div>
          </div>
        </div>
      </div><!--/.row-->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Research Proves Anion Booster<sup>&trade;</sup> Tastes Better</h2>
        </div>
        <div class="panel-body">
          <img src="images/anion_chart.jpg" alt="Anion Chart" title="Anion Chart" class="pull-right">
          <p>Anion Booster<sup>&trade;</sup> is a blend of chlorides and sulfates from glutamic acid fermentation solubles and corn fermentation solubles. Its unique drying process gives it a toasted, coffee-molasses like flavor and aroma.</p>
          <p>The chlorides as a source of anions are enrobed in dried molasses solubles and corn fermentation solubles. Feed intake is critical in the close-up transition diet. Anion Booster<sup>&trade;</sup> has proven to help increase Dry Matter Intake.</p>
          <p>Those fed regular anionic salts experienced a decrease in consumption.</p>
          <p><small>Research provided by: University of Idaho Animal &amp; Veterinary Sciences Department Complete research available upon request.</small></p>
        </div>
      </div>
            
      <div class="well well-lg">
        <p class="lead text-center"><strong>Anion Booster Significantly Affects More Components Of The Acid-Base Metabolism Than Regular Anionic Salts</strong></p>
      </div>
                    
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>&nbsp;</th>
            <th>Control</th>
            <th>Regular Anionic Salts</th>
            <th>Anion Booster</th>
          </tr>
          <tr class="info">
            <td>DMI, kg/d</td>
            <td>14.8</td>
            <td>12.7</td>
            <td>15.8+</td>
          </tr>
          <tr>
            <td>Blood Ionized Calcium, mg%</td>
            <td>4.77</td>
            <td>4.95**</td>
            <td>4.98***</td>
          </tr>
          <tr class="info">
            <td>Blood pH</td>
            <td>7.49</td>
            <td>7.46</td>
            <td>7.44*</td>
          </tr>
          <tr>
            <td>Blood Normalized Calcium, mg%</td>
            <td>5.01</td>
            <td>5.11</td>
            <td>5.10</td>
          </tr>
          <tr class="info">
            <td>Serum Total Calcium mg%</td>
            <td>9.38</td>
            <td>9.43</td>
            <td>9.37</td>
          </tr>
          <tr>
            <td>Serum Ionized Calcium mg%</td>
            <td>4.87</td>
            <td>5.01</td>
            <td>5.09*</td>
          </tr>
          <tr class="info">
            <td>Serum Normalized Calcium mg%</td>
            <td>4.87</td>
            <td>5.01</td>
            <td>5.09*</td>
          </tr>
          <tr>
            <td>Serum pH</td>
            <td>7.49</td>
            <td>7.45</td>
            <td>7.44*</td>
          </tr>
          <tr class="info">
            <td>Urine pH</td>
            <td>8.05</td>
            <td>6.27**</td>
            <td>6.04**</td>
          </tr>
          <tr>
            <td>HCO 3, mmol/L</td>
            <td>27.8</td>
            <td>25.4</td>
            <td>23.2*</td>
          </tr>
        </table>
      </div><!--/.table-responsive-->
      <p><small><strong>+ Numerically Higher *Significant **Highly Significant<br>
        Influence of Anion Booster on Intake, Acid-Base State &amp; Calcium Metabolism of Dairy Cows</strong></small></p>
      <p><br><a class="btn btn-primary" href="pdfs/anion_booster_info_sheet.pdf" target="_blank"><span class="glyphicon glyphicon-download"></span> Anion Booster Data Sheet (PDF)</a></p>
    </div><!--/.container-->
  {% endblock %}
