{% extends "parts/_template.njk" %}

  {% block main %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-contact-hero">
      <div class="container">
        <h1>Contact Us</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">For more information regarding STUHR Enterprises, LLC. and its industry leading products please contact:</p>
          <address>
            <strong>Roger Stuhr</strong><br>
            Stuhr Enterprises, LLC.<br>
            505 West Main Street<br>
            Marshall, MN 56258<br>
            Phone: 402-728-5570<br>
            Fax: 402-728-5571<br>
            mobile: 619.977.4567<br>
            <a href="mailto:dukestu@aol.com">dukestu@aol.com</a>
          </address>
        </div><!--/.col-xs-12-->
      </div><!--/.row-->
    </div><!--/.container-->
  {% endblock %}
