{% extends "parts/_template.njk" %}

  {% block main %}
     <!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="jumbotron jumbotron-glucose-hero">
      <div class="container">
        <h1>Glucose Booster<sup>&trade;</sup></h1>
        <img src="images/logo-hero-glucose.png" alt="Anion Booster" title="Anion Booster">
      </div>
    </div>
    <div id="content" class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="standout">Proven to increase milk yields and improve health in transition cows</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h2 class="panel-title"> Benefits</h2>
                </div>
                <div class="panel-body">
                  <ul>
                      <li>Helps to <strong>reduce</strong> the incidence of clinical and 
                          subclinical Ketosis.</li>
                      <li>Helps <strong>increase</strong> blood glucose level.</li>
                      <li>Helps <strong>increase</strong> milk yield.</li>
                      <li>Helps to <strong>reduce</strong> production of Ketones, BHBA.</li>
                      <li>Helps to <strong>improve</strong> health parameters.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h2 class="panel-title">The Problem</h2>
                  </div>
                  <div class="panel-body">
                    <p>Metabolic issues in second and greater 
                        lactation are caused by <strong>a breakdown of 
                        fat for energy in the fresh period</strong>, 
                        increasing ketone bodies in the cow's 
                        liver. The indicator of severity is 
                        measured by monitoring the level of 
                        BHBA.</p>
                  </div>
                </div>
              </div>
          </div><!--/.row-->
    
          <div class="row">
            
            <div class="col-sm-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h2 class="panel-title">The Causes</h2>
                </div>
                <div class="panel-body">
                  <ul>                    
                    <li><strong>Negative Energy Balance:</strong> After calving, 
                        cows put out more energy than they can 
                        replace through early feed intake.</li>
                    <li><strong>Fat Breakdown:</strong> When in negative 
                        energy balance, cows oxidize fat to 
                        obtain more energy.</li>
                    <li><strong>Low Glucose Levels:</strong> When cows begin 
                        producing, the udder has a high glucose 
                        demand; lowering glucose levels elsewhere.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h2 class="panel-title">The Cost</h2>
                </div>
                <div class="panel-body">
                  <ul>                    
                    <li><strong>Decrease</strong> in milk production</li>
                    <li><strong>Increase</strong> in other health issues</li>
                    <li><strong>$300 per cow</strong> is typical</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">The Solution</h3>
                </div>
                <div class="panel-body">
                  <ul>
                    <li><strong>Decrease</strong> stressors on the cow through 
                        the transition time frame.</li>
                    <li>Low energy diet in the closeup pen to 
                        <strong>increase</strong> intake after freshening.</li>
                    <li><strong>FEED GLUCOSE BOOSTER<sup>&trade;</sup></strong>, a 
                      glucogenic precursor with research results.</li>      
                  </ul>
                </div>
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Research Video</h3>
                </div>
                <div class="panel-body">
                  <p>How GLUCOSE BOOSTER effects Transition cow's glucose and BHBA.</p>

                  <div class="video-topics">
                    <p><strong>What you will learn:</strong></p>
                    <ul>
                      <li>How GLUCOSE BOOSTER controls BHBA</li>
                      <li>How GLUCOSE BOOSTER increased milk yield</li>
                      <li>How GLUCOSE BOOSTER decreased Ketosis and health incidents</li>
                      <li>How Glucose BOOSTER decreased health incidents.</li>
                    </ul>
                  </div>

                </div>
              </div>

            </div>
            <div class="col-xs-12">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/itXCpZVsiE0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
              <hr>
              <p><strong>For the complete research page, please <a href="contact-us.html">contact us</a>.</strong></p>
            </div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-3 resources">
          <div class="list-group">
            <h2>Resources</h2>
            <a href="pdfs/glucose-booster-research-report.pdf" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Glucose Booster Research Report (PDF)</a>
            <a href="pdfs/glucose-booster-research-u-of-ca.pdf" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Glucose Booster U. of CA (PDF)</a>
            <a href="pdfs/glucose_booster_info_sheet.pdf" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Glucose Data Sheet (PDF)</a>
            <a href="pdfs/glucose-booster-charts.pdf" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Glucose Booster Research Charts (PDF)</a>  
            <a href="pdfs/ca-herd-audit.pdf" class="list-group-item"><span class="glyphicon glyphicon-file"></span> CA Herd Audit (PDF)</a>  
            <a href="pdfs/glucose-booster-detailed-analysis.pdf" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Glucose Booster Detailed Analysis (PDF)</a>  
            <a href="pdfs/gb-nds-feedbank" class="list-group-item" download><span class="glyphicon glyphicon-file"></span> Glucose Booster NDS Feedbank</a>  
            <a href="pdfs/gb-amts-feedbank.amts_feedbank" class="list-group-item" download><span class="glyphicon glyphicon-file"></span> Glucose Booster AMTS Feedbank</a>  
          </div>
        </div>
      </div>
    </div><!--/.container-->
  {% endblock %}
