{% extends "parts/_template.njk" %}

  {% block main %}
     <!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="jumbotron jumbotron-glucose-hero">
      <div class="container">
        <h1>Glucose Booster<sup>&trade;</sup></h1>
        <img src="images/logo-hero-glucose.png" alt="Anion Booster" title="Anion Booster">
      </div>
    </div>
    <div id="content" class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h2 class="panel-title"><span class="glyphicon glyphicon-warning-sign"></span> Benefits</h2>
                </div>
                <div class="panel-body">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti facilis possimus repudiandae ut quisquam maiores assumenda at aut impedit, expedita nisi ducimus corporis nulla, ab doloribus perspiciatis incidunt ad! Repellat?
                </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h2 class="panel-title">The Problem</h2>
                  </div>
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolorum reiciendis voluptatum vero! Aliquam quas assumenda, quia sint animi eius ea dolore est consectetur, voluptatem reprehenderit. Atque adipisci eos consequuntur!
                  </div>
                </div>
              </div>
          </div><!--/.row-->
    
          <div class="row">
            
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">The Causes</h2>
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur soluta quis nulla omnis praesentium! Sint corporis harum maxime ab cumque nulla, ad optio dolore aliquam quos praesentium aperiam voluptate laboriosam!
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h2 class="panel-title">The Cost</h2>
                </div>
                <div class="panel-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores repellendus cupiditate rem modi aspernatur error necessitatibus, amet beatae. Quam fugiat voluptates ad atque quis doloribus? Dolore voluptate in deserunt! Quo.
                </div>
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">The Solution</h3>
                  </div>
                  <div class="panel-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab saepe mollitia numquam at fugit voluptatum eos tenetur est, voluptatibus id distinctio minima quidem quibusdam unde fugiat delectus eligendi commodi architecto.
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-3 resources">
          <div class="list-group">
            <h2>Resources</h2>
            <a href="pdfs/glucose_booster_info_sheet.pdf" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Glucose Data Sheet (PDF)</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Spreadsheet (XSL)</a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Spreadsheet (XSL)</a>
          </div>
        </div>
      </div>
    </div><!--/.container-->
  {% endblock %}
