{% extends "parts/_template.njk" %}

  {% block main %}
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron jumbotron-home-hero">
          <div class="container">
            <h1>Industry Leader</h1>
            <p>For 22 years, a global leader as a manufacturer of Transition Cow nutrients. Based on University research and applied science, our products are proven to give the transition cow nutritional benefits to help prevent Hypocalcemi and ketosis.</p>
            <p><a class="btn btn-primary btn-lg" href="contact-us.html" role="button">Get in touch today &raquo;</a></p>
          </div>
        </div>
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
              <div class="col-xs-12">
                <div class="transition-nutrition-solution">
                  <h2>The Stuhr Transition-Nutrition Solution</h2>
                  <p>Both research and practical on-farm application demonstrate the consistent results producers see when feeding <strong>ANION BOOSTER<sup>&trade;</sup></strong> and <strong>GLUCOSE BOOSTER<sup>&trade;</sup></strong> in the pre-fresh and the early fresh cows.</p> 
                  <p>The Stuhr Transition- Nutrition Solution is proven at the University and on the dairy to provide a palatable source of anions and an effective source of glucose precursors to help prevent Hypocalcemia and Ketosis.</p>
                </div>
              </div>
            <div class="col-sm-6">
              <h2 class="title-standout">Anion Booster<sup>&trade;</sup></h2>
              <p>A solution to help controll Hypocalcemia (Milk Fever) by utilizing anions derived from natural sources that are palatable which helps increase DMI during this critical time of Transition. It also regulates the metabolic pH of the cow's blood and urine <strong>to increase the absorption of calcium</strong>.</p>
              <p><a class="btn btn-default" href="anion-booster.html" role="button">View details &raquo;</a></p>
              <p><a href="anion-booster.html"><img class="home-logo" src="images/anion_logo.jpg" alt="Anion Booster"></a></p>
            </div>
            <div class="col-sm-6">
              <h2 class="title-standout">Glucose Booster<sup>&trade;</sup></h2>
              <p>A unique blend of glucose precursors that help the Transition cow produce enough glucose <strong>to help prevent subclinical and clinical ketosis</strong> and the resulting health problems.</p>
              <p><a class="btn btn-default" href="glucose-booster.html" role="button">View details &raquo;</a></p>
              <p><a href="glucose-booster.html"><img class="home-logo" src="images/glucose_logo.jpg" alt="Glucose Booster"></a></p>
            </div>
          </div>
        </div>
  {% endblock %}
