{% extends "parts/_template.njk" %}

  {% block main %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="no-jumbo">Sitemap</h1>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="anion-booster.html">Anion Booster</a></li>
            <li><a href="glucose-booster.html">Glucose Booster</a></li>
            <li><a href="contact-us.html">Contact Us</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
          </ul>
        </div><!--/.col-xs-12-->
      </div><!--/.row-->
    </div><!--/.container-->
  {% endblock %}
