.footer {
  background-color: $mainRed;
  bottom: 0;
  color: #fff;
  font-size: 1.3rem;
  height: 68px;
  padding: 1rem .8rem .8rem .8rem;
  position: absolute;
  text-align: center;
  width: 100%;
}