.resources {
  margin-top: 30px;
}

.resources .list-group-item, .video-topics .list-group-item {
  font-size: 1.5rem;
}


.resources h2 {
  color: #fff;
  margin: 0;
  font-size: 1.8rem;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #efefef;
  border-bottom: transparent;
  padding: 1rem;
  background: #158cba;
}

.video-topics {
  @include respond-at(992px){
    background: #efefef;
    border-radius: 5px;
    padding: 1rem;
    position: absolute;
    right: -240px;
    top: 0;
    width: 230px;
    z-index: 1;
  }
  & h2{
    margin: 0;
  }
  & ul{
    font-size: 1.7rem;
    line-height: 1.7;
    margin: 1rem 0;
    padding-left: 2rem;
  }
}



